# Data science tools and ecosystem

## Introduction
Welcome to this notebook on Data Science. In this notebook, we will cover various aspects of data science including languages, libraries, and tools, as well as some practical exercises involving arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool         | Description                          |
|--------------|--------------------------------------|
| Jupyter      | Interactive notebook for coding       |
| Anaconda     | Python/R distribution for data science|
| Tableau      | Data visualization tool                |
| GitHub        | Version control and collaboration tool|
| Apache Spark | Big data processing framework         |

## Arithmetic Expression Examples
Here are some examples of basic arithmetic expressions you can perform:
- Addition
- Subtraction
- Multiplication
- Division

In [1]:
# Code to multiply and add numbers
a = 5
b = 10
result = (a * b) + (a + b)
result

65

In [2]:
# Code to convert minutes to hours
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

minutes = 120
hours = minutes_to_hours(minutes)
hours

2.0

## Objectives
- Understand the basic languages used in data science.
- Learn about key data science libraries and tools.
- Perform simple arithmetic operations using code.
- Convert units with code.

## Author
Rao Saad Abdullah